body {
    margin: 0;
    background-color: #181717;
    font-family: Inter, serif;
}

.header {
    padding: 60px 120px 60px 120px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    height: 60px;
    width: 60px;
}

.logo {
    height: 60px;
    width: 60px;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 24px;
    color: #FFFFFF;
    font-size: 20px;
}

.nav-item {
    height: fit-content;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.reg-button-container {
    height: fit-content;
}

.reg-button {
    background-color: #181717;
    border: #FFFFFF solid 1px;
    border-radius: 8px;
    padding: 10px 22px;
    color: #FFFFFF;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.reg-button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.reg-button:active {
    background-color: #000000;
    color: #FFFFFF;
    transition: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 180px;
    padding: 0 120px 0 120px;
}

.footer {
    height: 421px;
    background-color: #202020;
    padding: 78px 120px;
    color: #FFFFFF;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-title {
    /*font-family: 'Aeonik TRIAL';*/
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 38px;
    height: fit-content;
}

.logo-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.logo-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footer-menu-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contacts-container {
    display: flex;
    gap: 26px;
}

.contact-img-container {
    width: 32px;
    height: 32px;
}