body {
    margin: 0;
    background-color: #181717;
    font-family: Inter, serif;
}

.header {
    padding: 60px 120px 60px 120px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    height: 60px;
    width: 60px;
}

.logo {
    height: 60px;
    width: 60px;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 24px;
    color: #FFFFFF;
    font-size: 20px;
}

.nav-item {
    height: fit-content;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.reg-button-container {
    height: fit-content;
}

.reg-button {
    background-color: #181717;
    border: #FFFFFF solid 1px;
    border-radius: 8px;
    padding: 10px 22px;
    color: #FFFFFF;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.reg-button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.reg-button:active {
    background-color: #000000;
    color: #FFFFFF;
    transition: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 180px;
    padding: 0 120px 0 120px;
}


.welcome-screen {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1206px;
}

.welcome-screen-left-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 15px;
}

.welcome-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    max-width: 464px;
}

.tg-bot-button {
    color: #FFFFFF;
    background-color: #1563DE;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 18px 33px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tg-bot-button:hover {
    background-color: #114FB2;
}

.tg-bot-button:active {
    background-color: #0D3B85;
    transition: none;
}

.welcome-screen-right-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title-text {
    font-weight: 700;
    font-size: 80px;
    line-height: 91px;
    margin: 0;
    max-width: 682px;
}

.title {
    background: linear-gradient(169.41deg, #B3D1FF 0%, #5A9CFF 93.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block-title {
    margin: 0 0 60px 0;
    font-weight: 700;
    font-size: 64px;
    line-height: 73px;
    color: #FFFFFF;
		justify-self: center;
}

.curriculum-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1206px;
}

.curriculum-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.curriculum-stage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #3D3D3D solid 1px;
    padding: 20px 0 20px 0;
}

.curriculum-stage:first-child {
    border-top: #3D3D3D solid 1px;
}

.curriculum-stage-left-col {
    display: flex;
    gap: 175px;
}

.curriculum-stage-number {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A9CFF;
}

.curriculum-stage-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #FFFFFF;
}

.curriculum-stage-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    max-width: 485px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.curriculum-stage-description-list {
    margin: 0;
    padding-left: 20px;
}

.studying-block {
    display: flex;
    flex-direction: column;
    max-width: 1206px;
    align-items: center;
}

.stages-container {
    display: flex;
    gap: 15px;
}

.stage-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 34px;

    --b: 3px;
    /* толщина бордера */
    --r: 24px;
    --rinner: var(--r) + 1px;
    /* внутренний радиус */
    border: none;
    position: relative;
    background: rgba(32, 32, 32, 0.5);
    border-radius: 23px;
    backdrop-filter: blur(8px);
}

.stage-block::before {
    content: "";
    position: absolute;
    inset: calc(-1*var(--b));
    padding: var(--b);
    border-radius: calc(var(--b) + var(--r));
    background: linear-gradient(160deg, #1D5AB6, #5A9CFF);
    /* градиент бордера */
    mask:
        linear-gradient(90deg, #202020, #202020) content-box,
        linear-gradient(90deg, #202020, #202020);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.stage-title {
    font-size: 32px;
    font-weight: 700;
    color: #5A9CFF;
    padding-bottom: 30px;
    z-index: 1;
}

.stage-content {
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    z-index: 1;
}

.stage-number {
    font-size: 16px;
    font-weight: 400;
    color: #BABABA;
    align-self: flex-end;
    z-index: 1;
}

/*-----------------------------------------------*/

.platform-advantages-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1206px;
}

.advantages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.advantage-block {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 387px;
    height: 320px;
    background-color: #2A2A2A73;
    backdrop-filter: blur(8px);
    border-radius: 15px;
    padding: 32px 32px 26px 32px;
    border: solid #2A2A2A73 1px;


    font-size: 32px;
    font-weight: 400;
    color: #FFFFFF;
}

.advantage-block:hover {
    border: solid rgba(80, 80, 80, 0.45) 1px;
}

.block-picture-container {
    height: 60px;
}

.who-is-our-course-for{
		display: flex;
		gap: 20px;
		/* flex-direction: column; */
		/* max-width: 1206px; */
		justify-content: center;
		height: 500px;
		padding: 0 160px 100px 160px;
}

/* .participants{
		box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 387px;
    height: 320px;
    background-color: #2A2A2A73;
    backdrop-filter: blur(8px);
    border-radius: 15px;
    padding: 32px 32px 26px 32px;
    border: solid #2A2A2A73 1px;
} */

.participants1 {
	align-self: flex-start;
	width: 320px;
	background-color: #2A2A2A73;
  backdrop-filter: blur(8px);
  border-radius: 15px;
  padding: 32px 32px 26px 32px;
  border: solid #2A2A2A73 1px;
}


.participants2 {
	align-self: center;
	width: 320px;
	background-color: #2A2A2A73;
  backdrop-filter: blur(8px);
  border-radius: 15px;
  padding: 32px 32px 26px 32px;
  border: solid #2A2A2A73 1px;
}


.participants3 {
	align-self: flex-end;
	width: 320px;
	background-color: #2A2A2A73;
  backdrop-filter: blur(8px);
  border-radius: 15px;
  padding: 32px 32px 26px 32px;
  border: solid #2A2A2A73 1px;
}

.participants-text{
	
	font-size: 18px;
	font-weight: 400;
	color: #BABABA;
}

.footer {
    height: 421px;
    background-color: #202020;
    padding: 78px 120px;
    color: #FFFFFF;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-title {
    /*font-family: 'Aeonik TRIAL';*/
    font-weight: 400;
    font-size: 32px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 38px;
    height: fit-content;
}

.logo-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.logo-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.footer-menu-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contacts-container {
    display: flex;
    gap: 26px;
}

.contact-img-container {
    width: 32px;
    height: 32px;
}